<div class="uk-margin-small-top uk-margin-small-left">
  <button [routerLink]="''" class="uk-button" type="button"><a class="uk-padding-small" uk-icon="icon: reply"></a></button>
</div>

<div class="uk-text-center uk-position-center uk-width-1-2">
  <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">Ваш личный кабинет</h3>
    <div class="uk-margin-top">
      <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-1-2@s">
            <input class="uk-input" formControlName="id" placeholder="ID" type="text"/>
          </div>
          <div class="uk-width-1-2@s">
            <input class="uk-input" formControlName="password" placeholder="" type="password"/>
          </div>

          <div class="uk-width-1-1">
            <input class="uk-input" formControlName="username" placeholder="Имя и фамилия" type="text"/>
          </div>

          <div class="uk-width-1-3@s">
            <input class="uk-input" formControlName="email" placeholder="E-mail" type="email"/>
          </div>
          <div class="uk-width-1-3@s">
            <input class="uk-input" formControlName="balance" placeholder="Баланс" type="text"/>
          </div>
          <div class="uk-width-1-3@s">
            <p-calendar dateFormat="dd/mm/yy" formControlName="registrationDate"></p-calendar>
          </div>

          <div class="uk-width-1-2@s">
            <input class="uk-input" formControlName="userTypeId" placeholder="Тип пользователя" type="text"/>
          </div>
          <div class="uk-width-1-2@s"> <!--Сделай это радиобаттоном-->
            <input class="uk-input" formControlName="isDeleted" placeholder="Архивный или нет" type="password"/>
          </div>

          <div class="uk-align-center">
            <img class="uk-align-right rounded" alt="userphoto" height="90%" src="https://pp.userapi.com/WGcYjEGLQGBBXsD2ovJ8a8U_DfYes3R0q1ZSyA/g7qR_LaRmy4.jpg" width="30%">
          </div>
          <div>
            <button class="uk-button uk-margin-large-top uk-text-center button-continue uk-align-left" onclick="UIkit.notification({
                                    message: '<span uk-icon=\'icon: check\'></span> Успешно сохранено!',
                                    status: 'primary',
                                    pos: 'bottom-right',
                                    timeout: 1000
                                    })"
                    type="submit">Сохранить изменения
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
