<div class="login-padding uk-text-right">
  <button *ngIf="user === null" class="uk-button" [routerLink]="'login'">Войти</button>
  <button *ngIf="user !== null" class="uk-button" (click)="routeToCabinet()">Личный кабинет</button>
  <button *ngIf="user !== null" class="uk-button logout-button" (click)="logout()">Выйти</button>
</div>

<p class="uk-text-center@l uk-margin uk-text-large" *ngIf="user !== null">Добро пожаловать, {{user}}!</p>

<div class="uk-margin uk-card uk-card-default uk-card-body">
  <div class="uk-text-center@l uk-margin uk-text-large">
    Выбери маршрут своей мечты!
  </div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="uk-margin-top uk-margin-bottom">
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-3@s">
          <app-autocomplete [loading]="loadingFrom" [suggestions]="listFrom" (valueChanges)="searchFrom($event)" (selectSuggestion)="selectFrom($event)" [defaultText]="'Откуда'"></app-autocomplete>
        </div>
        <div class="uk-width-1-3@s">
          <app-autocomplete [loading]="loadingTo" [suggestions]="listTo" (valueChanges)="searchTo($event)" (selectSuggestion)="selectTo($event)"  [defaultText]="'Куда'"></app-autocomplete>
        </div>
        <div class="uk-width-1-3@s">
            <p-multiSelect [options]="travelWays" formControlName="selectedCities" defaultLabel="Способы путешествия"></p-multiSelect>
        </div>
      </div>
    </div>
    <div class="uk-margin-bottom uk-text-center">
        <button class="uk-button button-blue" type="submit">Поехали!</button>
        </div>
  </form>

  <div class="uk-child-width-1-1@s uk-grid-small" uk-grid>
    <div class="uk-overflow-hidden">
      <div id="map" style="width: 100%; height: 500px"></div>
    </div>
  </div>
</div>
<!--
<div class="uk-margin-top uk-card uk-card-default uk-card-body">
  <ul class="uk-height-medium uk-subnav uk-subnav-pill" uk-switcher>
    <li *ngFor="let pro of properties">
      <a href="#">{{pro.name}}
      </a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li *ngFor="let pro of properties">
      {{pro.property}}
    </li>
  </ul>
</div>-->

<div class="uk-margin-top uk-child-width-1-2@m uk-grid-match" uk-grid>
  <div>
    <div class="uk-margin-large-left uk-margin-bottom uk-card uk-card-default uk-card-body"
         uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <h3 class="uk-card-title">Создатель, и он же магистр</h3>
      <p>Kiryl Aleksandrovich</p>
    </div>
  </div>
  <div>
    <div class="uk-margin-large-right uk-margin-bottom uk-margin-left uk-card uk-card-default uk-card-body"
         uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      <h3 class="uk-card-title">Мой ученик, падаван, караван</h3>
      <p>Eugene Dubinin</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
