<div class="uk-margin-top uk-child-width-1-2@m uk-grid-match" uk-grid>
  <div>
    <div class="uk-margin-large-left uk-margin-bottom uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <h3 class="uk-card-title">Создатель, и он же магистр</h3>
      <p>Kiryl Aleksandrovich</p>
    </div>
  </div>
  <div>
    <div class="uk-margin-large-right uk-margin-bottom uk-margin-left uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      <h3 class="uk-card-title">Мой ученик, падаван, караван</h3>
      <p>Eugene Dubinin</p>
    </div>
  </div>
</div>
