<div class="uk-margin-top uk-card uk-card-default uk-card-body" >
  <ul class="uk-height-medium uk-subnav uk-subnav-pill" uk-switcher>
    <li><a href="#">{{properties.tab1}}</a></li>
    <li><a href="#">{{properties.tab2}}</a></li>
    <li><a href="#">{{properties.tab3}}</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li>{{properties.tab1_description}}</li>
    <li>{{properties.tab2_description}}</li>
    <li>{{properties.tab3_description}}</li>
  </ul>
</div>

<router-outlet></router-outlet>
