<div class="uk-margin-top uk-card uk-card-default uk-card-body" >
  <ul class="uk-height-medium uk-subnav uk-subnav-pill" uk-switcher>
    <li><a href="#">Покушать</a></li>
    <li><a href="#">Достопримечательности</a></li>
    <li><a href="#">Кинотеатры</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li>Ну возможно</li>
    <li>Да на тёлку свою посмотри. Блин, смысла ехать за тридевять земель смотреть на что-то? Тупой что ли?</li>
    <li>Кинцо это да, это наше всё</li>
  </ul>
</div>



<router-outlet></router-outlet>
