
  <div class="uk-width-1-3">

  </div>

  <div class="uk-align-right uk-card uk-card-body uk-card-primary uk-width-1-4 ">
    <h3 class="uk-card-title">Default</h3>
    <button uk-icon="sign-in" (click)="showDialog()"></button>
  </div>

<p-dialog header="Login" [(visible)]="loginDisplay" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
    <span>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect,
        but given to ruthless violence whenever anything stands against the good of the family.</span>
  <p-footer>
    <button pButton type="button" class="ui-button-success" (click)="loginDisplay=false" label="Login"></button>
    <button type="button" pButton icon="pi pi-close" (click)="loginDisplay=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<div class="uk-margin uk-card uk-card-default uk-card-body">
  <div class="">
    <div class="uk-child-width-1-1@s uk-grid-small" uk-grid>
      <div class="uk-overflow-hidden">
        <img data-src="assets/img/google_maps.jpg" uk-scrollspy="cls: uk-animation-kenburns; repeat: true" uk-img>
      </div>
    </div>
  </div>
  <div class="uk-text-center@l uk-margin uk-text-large">
    Выбери маршрут своей мечты, или ты пидор!
  </div>
</div>


<div class="uk-margin-top uk-card uk-card-default uk-card-body" >
  <ul class="uk-height-medium uk-subnav uk-subnav-pill" uk-switcher>
    <li><a href="#">{{properties.tab1}}</a></li>
    <li><a href="#">{{properties.tab2}}</a></li>
    <li><a href="#">{{properties.tab3}}</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li>{{properties.tab1_description}}</li>
    <li>{{properties.tab2_description}}</li>
    <li>{{properties.tab3_description}}</li>
  </ul>
</div>

<div class="uk-margin-top uk-child-width-1-2@m uk-grid-match" uk-grid>
  <div>
    <div class="uk-margin-large-left uk-margin-bottom uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
      <h3 class="uk-card-title">Создатель, и он же магистр  <i class="pi pi-sign-in"></i></h3>
      <p>Kiryl Aleksandrovich</p>
    </div>
  </div>
  <div>
    <div class="uk-margin-large-right uk-margin-bottom uk-margin-left uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
      <h3 class="uk-card-title">Мой ученик, падаван, караван</h3>
      <p>Eugene Dubinin</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
