/* You can add global styles to this file, and also import other style files */

.non-outlined:focus {
  outline:0;
}

.rounded {
  border-radius:50%;
}

.avatar-container{
  width: 20%;
  height: 20%;
}

.profile-text{
  font-size: 30pt;
}

.more-container{
  border: 1px solid #d2d0c1;
  background-color: #ffffff;
}

.blue-coloured-background{
  background-color: rgba(11, 191, 126, 0.24);
}
.margin-left-50-percents{
  margin-left: 30%;
}

.login-button{
  color: #159b78;
}

.login-padding{
  padding: 1%;
}
