/* You can add global styles to this file, and also import other style files */

.non-outlined:focus {
  outline:0;
}

.rounded {
  border-radius:50%;
}

.avatar {
  width: 50%;
  height: 100%;
}

.profile-text{
  font-size: 30pt;
}

.more-container{
  border: 1px solid #d2d0c1;
  background-color: #ffffff;
}

.blue-coloured-background{
  background-color: rgba(11, 191, 126, 0.24);
}
.margin-left-50-percents{
  margin-left: 30%;
}

.button-blue {
  text-decoration: none;
  background: rgb(23, 86, 199);
  color: #ffffff;
}

.button-red{
  text-decoration: none;
  background: rgb(199, 18, 5);
  color: #ffffff;
}

.fonted {
  font-size: 13px;
}

.undecorated-button {
  background: #dbdfe4;
  text-decoration: none;
  border: 0 outset buttonface;
  border-image: none;
}

.undecorated-button:hover {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 7px #fff;
}

.login-padding{
  padding: 1%;
}
