<div class="uk-text-center uk-position-center uk-width-1-2">
  <div class="uk-card uk-card-default uk-card-body">
    <button class="uk-card-badge uk-label undecorated-button" [routerLink]="'registration'">Зарегистрироваться</button>
    <h3 class="uk-card-title">Вход</h3>
    <p>Введите ваш логин и пароль</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input formControlName="email" class="uk-input" type="text">
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
          <input formControlName="password" class="uk-input" type="text">
        </div>
      </div>

      <button class="uk-button button-blue" type="submit">Войти</button>
    </form>
  </div>
</div>
