<div class="uk-text-center uk-position-center uk-width-1-2">
  <div class="uk-card uk-card-default uk-card-body">
    <div class="uk-card-badge uk-label">Регистрация</div>
    <h3 class="uk-card-title">Добро пожаловать на наш сайт</h3>
    <p>Заполните регистрационную форму</p>

    <form class="uk-margin-top" [formGroup]="loginForm" (ngSubmit)="onSubmit()">


      <div class="uk-margin">
        <div class="uk-inline">
          <input class="uk-input" formControlName="login" type="text" placeholder="Login"/>
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <input class="uk-input" formControlName="email" type="email" placeholder="E-mail"/>
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <input class="uk-input" formControlName="password" type="password" placeholder="Password"/>
        </div>
      </div>

      <button class="uk-button" type="submit">Сохранить</button>
    </form>
  </div>
</div>
