<div class="uk-text-center uk-position-center uk-width-1-2">
  <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">Добро пожаловать на наш сайт</h3>
    <p>Заполните регистрационную форму</p>

    <div class="uk-margin-top">
      <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
        <div class="uk-grid-small" uk-grid>





            <div class="uk-text-left uk-margin-small-top uk-width-1-2">
              <span class="uk-text-meta ">E-mail</span>
              <input class="uk-input" formControlName="email" placeholder="..." type="email"/>
            </div>

            <div class="uk-text-left uk-margin-small-top uk-width-1-2">
              <span class="uk-text-meta">Пароль</span>
              <input class="uk-input" formControlName="password" placeholder="..." type="password"/>
            </div>
            <div class="uk-text-left uk-width-1-1">
              <span class="uk-text-meta"> Имя и фамилия</span>
              <input class="uk-input" formControlName="username" placeholder="..." type="text"/>
            </div>









            <div class="uk-text-left">
              <span class="uk-text-meta">Дата регистрации</span>
              <p-calendar dateFormat="dd/mm/yy" formControlName="registrationDate"></p-calendar>
            </div>


          <div class="uk-width-1-1@s">
            <div class="uk-align-center uk-margin-medium-top">
              <button class="uk-button button-blue"
                      onclick="UIkit.notification({
                                    message: '<span uk-icon=\'icon: check\'></span> Успешно сохранено!',
                                    status: 'primary',
                                    pos: 'bottom-right',
                                    timeout: 1000
                                    })"
                      type="submit">Сохранить изменения
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
